<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GitHub" value="https://nuget.pkg.github.com/mihaj/index.json" />
        <add key="Nomirun Customer Repository" value="https://f.feedz.io/nomirun/nomirun-customer-repository/nuget/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="mihaj" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2xG9HUwByU2SMaDW18hYbgAAAAACAAAAAAAQZgAAAAEAACAAAADJMvA/YrP21B3iTnqalhnN3X0j4ZXZsYWoefDTWHBnygAAAAAOgAAAAAIAACAAAAA32DJI/XR/wd2h4pKyNl6MAXPf1qXj3KM7EPSHuW7CnjAAAAALTATxL+USBz80azpk48RD7FjEL1gDzO9YqLSeuCwuFXF66A0Hiuvxef8bnIngPytAAAAAp1UeDU7MjNZbT6KYdVwzOCQ2gdGyjtj4awoegaPuYQ2nKo4qbryN74lg1GYX/GeRTzp370+GXHesRuYKgn3Hsg==" />
      </GitHub>
    <Feedz.io>
      <add key="Username" value="root" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2xG9HUwByU2SMaDW18hYbgAAAAACAAAAAAAQZgAAAAEAACAAAABTF8qc6awf6ANl4goxuIuNZvEdHg3e6F/sYZ0rZD7PkgAAAAAOgAAAAAIAACAAAAATamotI4J4I22ylJuaKeGpwVorioO+kVqdyMMp+noz8DAAAAD1hPhuh1V3WotZS3/aG+wMkFtDmW4W8SiYPCUbrZCPsK7N4pjR9xHgVSJIcIYO4bJAAAAA88tn6OiBf50D0hkw3fsPvA8FEy+GFFHXCJkhYWezonqGyMXihKgzftnsyqlmhxPHpOvpg3/kDv8oSenQuQExSQ==" />
    </Feedz.io>
    <Nomirun_x0020_Customer_x0020_Repository>
      <add key="Username" value="root" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2xG9HUwByU2SMaDW18hYbgAAAAACAAAAAAAQZgAAAAEAACAAAABzmK8oAxh/sNcalp+1TVf3kxeuIJQ9YfFhYxLiGPRijAAAAAAOgAAAAAIAACAAAABOZlfXZo7QIhlb6mgAkwi3T1ajvj6VjXaghexk9kcfoTAAAABo++njjpM5L+O42n+K6ay/bulCTgC5YrjtChnSFCbzi0nhowBlBgPOoFCQvcetID5AAAAAgLVoOWah8pvVX3SYMresrun9nmsmFgIw3+huaPwdQ5AOjc17R0XQ9MQB8Ww9hQegycHBBfle2GTFM/DooeYRTw==" />
    </Nomirun_x0020_Customer_x0020_Repository>
  </packageSourceCredentials>
</configuration>