<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Feedz.io" value="https://f.feedz.io/nomirun/internal-repository/nuget/index.json" />
        <add key="Local Folder" value="c:\Users\miha\.nomirun\NugetRepository\" />
        <add key="Nomirun Customer Repository" value="https://f.feedz.io/nomirun/nomirun-customer-repository/nuget/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <Feedz.io>
        <add key="Username" value="root" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAADWK4NqCgUdZpe0GMNOobONKpUmUkZEAjhJ+My5egNsGgAAAAAOgAAAAAIAACAAAABHH7BYlPmLGohzsN8VQ5dZYssOIrve1HBr15EobktHVzAAAAD3e/jQcRUn1F3o1Fye0rAD/qTdUVlPu/Mn9bNA1skNdt0kG49PlnrDUxZ8ZTc6roJAAAAAMR1rHEKTHBYxmYtrfbaXYG4dEXbB9HzxZ58w5BVgbJqk6AI31vU3d5GAHULcRYG3etCX8Qe1JwgrEhccIi/TjA==" />
      </Feedz.io>
    <Nomirun_x0020_Customer_x0020_Repository>
      <add key="Username" value="root" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAAASnFxoKO+rTafuGN7fM8dyydNSPaJ9PvH5R6a5wzMLsQAAAAAOgAAAAAIAACAAAACt+RDQm4xK7lIZ67r5+DYszwLykhZYEAiJ3zXgt5QTuzAAAAAPVDSA/zDhlAjkHsfNe0zF873E4U2m5Plr0uKRw8PuG5zfjdc+qOfeHA9ebkyk+XFAAAAA6Iim0Ekq21+9WQb5wTgf6TkQkUqzTVw+90AIoCtpNkkLEKYUmOdi9JnkG2QXosC0qjDRcltrRyI3MF0o41sWcQ==" />
    </Nomirun_x0020_Customer_x0020_Repository>
  </packageSourceCredentials>
</configuration>