<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Feedz.io" value="https://f.feedz.io/nomirun/internal-repository/nuget/index.json" />
        <add key="Local Folder" value="c:\Users\miha\.nomirun\NugetRepository\" />
        <add key="Nomirun Customer Repository" value="https://f.feedz.io/nomirun/nomirun-customer-repository/nuget/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <Feedz.io>
        <add key="Username" value="root" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAAA9uSGJPkRzl6X9eVuVBpkWHSXOLdUEAg5mB3PE1CyvjQAAAAAOgAAAAAIAACAAAAA9sLlbOQ9rkOazabFrhGF6Cor+ICv/uLUxtnSzstZqjDAAAAC76OpcKG8XhgTyBGQgtmDDG2VTNiKlrXAJeApa9/xhR7QWmZES/UGbGgcNoYStdaZAAAAAsi0uKpiPJmThWe0yi9V2WwAvKn+XmddAs889VSxNL9szNh1JSl2rOHko2hrT7pGOdg+vDFcEuMk2aw6qS+LMgA==" />
      </Feedz.io>
    <Nomirun_x0020_Customer_x0020_Repository>
      <add key="Username" value="root" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAACg5uwVJkKoo45cCutYgVoI87JgkwpblfqTFt03iq3H+AAAAAAOgAAAAAIAACAAAABbKhE5VthGPDXN1NGQUfDgjz3W6+EzdfnKF3lNlTsUeDAAAAD/OsPf+8Ljdo0lwW2mMNf0XVIc+kMGbYcfAKt+geyJjrKkkrdleisiYRzeHSfYVMRAAAAAlTU8aZd+vVCB0FyxdeFUJGaXlBTjDUznsQListAZrRn3XmnK8mL99O78onwJGI3HTFpGHhzWAjXuNKIsW8JdZw==" />
    </Nomirun_x0020_Customer_x0020_Repository>
  </packageSourceCredentials>
</configuration>