<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Feedz.io" value="https://f.feedz.io/nomirun/internal-repository/nuget/index.json" />
        <add key="Local Folder" value="c:\Users\miha\.nomirun\NugetRepository\" />
        <add key="Nomirun Customer Repository" value="https://f.feedz.io/nomirun/nomirun-customer-repository/nuget/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <Feedz.io>
        <add key="Username" value="root" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAACMj1TMwK9PjByBCqhS1dJ3hhzKoKHUcdXKXInCtHgYsQAAAAAOgAAAAAIAACAAAAD2hr2sVL8VFUEwHb1bZcngrGbVN92w/fexuC5JBux16TAAAADsjW9KoSa2wkB1Ux7CJ861ZaVZPFhKo/l44kb9j9SHlnKgvy8fv2PZFvj/JmVTYx9AAAAATo1QDVRmKQ6WgU8EhnVyV30dReCsA+VdHzIQbtIXlchcWDcnLTScc4qc8xfEY0183ksrQq7o1J/RWHB656Lqpg==" />
      </Feedz.io>
    <Nomirun_x0020_Customer_x0020_Repository>
      <add key="Username" value="root" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALxbgdt8pyEWQGBmdSnbY8wAAAAACAAAAAAAQZgAAAAEAACAAAABNPrdYdrkgMH71ogeoO2GqYW55wG4yvY+EG356dymV5AAAAAAOgAAAAAIAACAAAADko44qkQf150RSVqM6lmRq1QD3NMqYlyHQEyjXY0xtrjAAAABOj1ISaT9B0O0X7aXsixtcW1suya+wTmLCxXX16MpEGs/ibHY6C6QVX/pqUTWjik5AAAAA2ONrIRdZM9jkgAGRaT2XiMuOarW1Cr3ahcUIn63d4hV0Sa3K+zT/wKjw6d7Tw/bOkWfCYjutU0o3wbMXwpmhKQ==" />
    </Nomirun_x0020_Customer_x0020_Repository>
  </packageSourceCredentials>
</configuration>